/* Cantainers Info */
h1.rl-manga-title {
    font-family: 'Roboto Regular';
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 600;
    line-height: 28px;
    color: #fff;
}

p.rl-manga-subtitle{
    margin: 0;
    font-family: 'Roboto Regular';
    letter-spacing: 1px;
    font-size: 20px;
    color: rgb(150, 150, 150);
}

p.rl-manga-sinopse{
    margin-top: 5px;
    font-size: 16px;
    font-family: 'Groteska';
    color: #979797;
    line-height: 24px;
    text-align: justify;
}

.rl-manga-snps{
    height: 15rem;
    left: 500px;
    overflow: auto;
}

.rl-manga-snps::-webkit-scrollbar {
    width: 0px;
}

.img-capa-manga {
    width: 286px;
    height: 419px;
}

.main-info {
    margin-bottom: 10px !important;
    margin-top: 40px !important;
}

.generos {
    margin: 10px 3px 10px 0;
    display: inline-block;
    background: #167b00;
    font-weight: 500;
    font-family: 'Roboto Regular';
    color: #fff;
    padding: 4px 12px;
    border-radius: 3px;
}

@media screen and (max-width: 700px) {
    .main-info {
        text-align: center;
    }

    h1.rl-manga-title{
        margin: 20px 5px 5px 5px;
        font-size: 24px !important;
    }

    p.rl-manga-subtitle{
        font-size: 16px;
    }

    .img-capa-manga {
        width: 228px;
        height: 335px;
    }

    .title-cap{
        margin-top: 10px;
    }

    .list-info{
        flex-wrap: wrap !important;
        justify-content: center !important;
    }

    .ul-info-li{
        flex-wrap: wrap !important;
        justify-content: center !important;
    }

    .li-info{
        margin: 5px !important;
    }

    .stars i {
        font-size: 28px !important;
    }

    .line-text{
        opacity: 0% !important;
        font-size: 1px !important;
    }
}

.col-cap{
    margin-top: 10px;
    height: 20rem;
    overflow: auto;
}

.col-cap::-webkit-scrollbar {
    width: 3px;
}

/* Fim Cantainers Info */

.stars{
    margin-top: 20px;
    text-align: center;
}

.stars i {
    color: #e6e6e6;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.stars i.active {
    color: #FFE500;
}

.manga-index-header2 {
    background: #3f3f3f;
    padding: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 400;
    color: silver;
    margin-bottom: 3px;
    font-family: 'Groteska';
}

.manga-header {
    color: #fff;
    text-align: center;
    background: #167b00;
    padding: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 3px;
    font-family: 'Groteska';
}

.manga-header span{
    display: block;
}

.title-span{
    font-size: 17px;
    font-weight: 100 !important;
}

.manga-header:hover{
    background: #0e4601;
    color: #fff;
}

.capitulo{
    background-color: #000000;
    padding: 16px;
    font-size: 22px;
    margin: 0 auto;
    font-family: "Roboto Thin", sans-serif;
    border-radius: 2px;
    color: #fff;
}

.cont-cap{
    margin-top: 6%;
}

.anc{
    color: #fff;
}
.anc:hover{
    color: #FFE500;
}

.list-info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 0;
    list-style-type: none;
}

.li-info{
    margin-left: 10px;
}

.ul-info-li{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: flex-start;
}

.ul-info-li li{
    font-family: 'Groteska';
    margin-right: 10px;
    color: #fff;
}

.listone, .listtwo{
    border-right: 2px solid #969696;
    padding-right: 8px;
}


@media screen and (max-width: 1448px) {
    .ul-info-li{
        flex-wrap: wrap !important;
    }
    .listtwo, .listthree{
        border-right: 2px solid rgba(150, 150, 150,0%);
        padding-right: 0;
    }
}
@media screen and (max-width: 1446px) {
    .listtwo{
        border-right: 2px solid #969696;
        padding-right: 8px;
    }
    .listone, .listthree{
        border-right: 2px solid rgba(150, 150, 150,0%);
        padding-right: 0;
    }
}

@media screen and (max-width: 1270px) {
    .listone, .listtwo, .listthree{
        border-right: 2px solid rgba(150, 150, 150,0%);
        padding-right: 8px;
    }
}

@media screen and (max-width: 1200px) {
    .listtwo{
        border-right: 2px solid #969696;
        padding-right: 8px;
    }
    .listone, .listthree{
        border-right: 2px solid rgba(150, 150, 150,0%);
        padding-right: 0;
    }
}

@media screen and (max-width: 1151px) {
    .listone, .listtwo, .listthree{
        border-right: 2px solid rgba(150, 150, 150,0%);
        padding-right: 8px;
    }
}

@media screen and (max-width: 1005px) {
    .listone, .listtwo, .listthree{
        border-right: 2px solid rgba(150, 150, 150,0%);
        padding-right: 0;
    }
}

@media screen and (max-width: 700px) {
    .listone{
        border-right: 2px solid #969696;
        padding-right: 8px;
    }
}

@media screen and (max-width: 669px) {
    .listtwo{
        border-right: 2px solid #969696;
        padding-right: 8px;
    }

    .listone{
        border-right: 2px solid rgba(150, 150, 150,0%);
        padding-right: 8px;
    }
}

@media screen and (max-width: 543px) {
    .listone, .listtwo, .listthree{
        border-right: 0;
        padding-right: 8px;
    }
}

/* @media screen and (max-width: 673px) {
    .listtwo{
        border-right: 2px solid #969696;
        padding-right: 8px;
    }
    .listone{
        border-right: 0;
        padding-right: 0;
    }
} */



.list-rate {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    list-style-type: none;
    padding: 6px;
    align-content: center;
    justify-content: space-between;
}

.rate-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #fff;
}

.body-info{
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .body-info{
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .body-info{
        width: 90%;
    }
}