{% extends 'BaseError.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %}Erro 403{% endblock %}
{% block error %}
    <div class="neon-vision">
        <div class="txt-erro">403</div>
        <div class="txt">Entrada Negada<span class="blink">_</span></div>
    </div>
    <div class="div-cont">
        <p>✌ Eai tudo bem? ✌</p>
        <p>• O erro 403 são causados por problemas de acesso, quando você está tentando acessar algo ao qual não tem permissão.</p>
        <p>👌 Agora que você entendeu, por favor, retire-se dessa pagina usando o botão abaixo. 😊</p>
        <p>👋 A equipe do Manga Vision agradece 😘</p>
    </div>
    <div class="div-cont2">
        <button class="btn btn-primary" onclick="window.location.href='{% url 'index' %}'">Tela Inicial</button>
    </div>
{% endblock %}


