{% extends 'BaseError.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %}Erro 404{% endblock %}
{% block error %}
    <div class="neon-vision">
        <div class="txt-erro">404</div>
        <div class="txt">Página não Encontrada<span class="blink">_</span></div>
    </div>
    <div class="div-cont">
        <p>✌ Eai tudo bem? ✌</p>
        <p>• O erro 404 significa que a página da web que o usuário estava tentando acessar não foi encontrada.</p>
        <p>👌 Agora que você entendeu, por favor, retire-se dessa pagina usando o botão abaixo. 😊</p>
        <p>👋 A equipe do Manga Vision agradece 😘</p>
    </div>
    <div class="div-cont2">
        <button class="btn btn-primary" onclick="window.location.href='{% url 'index' %}'">Tela Inicial</button>
    </div>
{% endblock %}
