{% extends 'BaseError.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %}Erro 504{% endblock %}
{% block error %}
    <div class="neon-vision">
        <div class="txt-erro">504</div>
        <div class="txt">Demorou para Responder<span class="blink">_</span></div>
    </div>
    <div class="div-cont">
        <p>Eai tudo bem? ✌</p>
        <p>• O erro 504 é um tipo de erro de servidor, relacionado a expiração do tempo de resposta para um segundo servidor.</p>
        <p>Agora que você entendeu, por favor, retire-se dessa pagina usando o botão abaixo.</p>
        <p>A equipe do Manga Vision agradece 😘</p>
    </div>
    <div class="div-cont2">
        <button class="btn btn-primary" onclick="window.location.href='{% url 'index' %}'">Tela Inicial</button>
    </div>
{% endblock %}