{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/HttpError.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="single-manga-bg img-fundo"></div>
    {% block error %}
    {% endblock %}
</body>
</html>