{% extends 'BaseVision.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/manga-info.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
{% endblock %}
{% block titulo %}{{ manga.title }} - Manga Vision{% endblock %}
{% block body %}
    <div class="row main-info">
        <div class="col-lg-3 rl-col">
            <img class="img-capa-manga mx-auto" style="max-height: 100%; min-height: 100%;" src="{{ manga.capa.url }}" alt="{{ manga.title }}">
            <div class="stars">
                <i class="fa-solid fa-star" value="1"></i>
                <i class="fa-solid fa-star" value="2"></i>
                <i class="fa-solid fa-star" value="3"></i>
                <i class="fa-solid fa-star" value="4"></i>
                <i class="fa-solid fa-star" value="5"></i>
            </div>
        </div>
        <div class="col-lg rl-col2">
            <h1 class="rl-manga-title">{{ manga.title }}</h1>
            <p class="rl-manga-subtitle">Autor: {{ manga.author }}</p>
            {% for genre in genre %}
                <span class="generos">{{ genre }}</span>
            {% endfor %}
            <div class="col-lg bg-light rl-col3">
                <p>Status: {{ status }}</p>
                <p>Ano de Lançamento: {{ manga.release_Year }}</p>
                <p>Tipo: {{ tipo }}</p>
            </div>
            <div class="rl-manga-snps">
                <p class="rl-manga-sinopse">{{ manga.sinopse }}</p>
            </div>
        </div>
        <div class="title-cap">
            <h3 class="capitulo">Capítulos de {{ manga.title }}</h3>
        </div>
        <div class="row" style="margin-top: 10px;">
            <a class="col manga-header" style="margin-right: 10px;" href="{{ manga.slug }}/ler/capitulo-{{ first.order }}" title="Ler Capítulo {{ first.order }} de {{ manga.title }} Online!">
                <span class="title-span">Primeiro Capítulo</span>
                <span>Capítulo {{ first.order }}</span>
            </a>
            <a class="col manga-header" href="{{ manga.slug }}/ler/capitulo-{{ last.order }}" title="Ler Capítulo {{ last.order }} de {{ manga.title }} Online!">
                <span class="title-span">Novo Capítulo</span>
                <span>Capítulo {{ last.order }}</span>
            </a>
        </div>
        <div class="col-cap">
            {% for cap in capitulo %}
                <div class="manga-index-header2">
                    <a class="anc" href="{{ manga.slug }}/ler/capitulo-{{ cap.order }}" title="Ler Capítulo {{cap.order }} de {{ manga.title }} Online!">
                        Capítulo {{cap.order}}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        // Select all elements with the "i" tag and store them in a NodeList called "stars"
        const stars = document.querySelectorAll(".stars i");

        // Loop through the "stars" NodeList
        stars.forEach((star, index1) => {
            // Add an event listener that runs a function when the "click" event is triggered
            star.addEventListener("click", () => {
                // Loop through the "stars" NodeList Again
                stars.forEach((star, index2) => {
                    // Add the "active" class to the clicked star and any stars with a lower index
                    // and remove the "active" class from any stars with a higher index
                    index1 >= index2 ? star.classList.add("active") : star.classList.remove("active");
                });
            });
        });
    </script>
{% endblock %}